#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.current-move {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  font-size: 200px;
}

.overlap {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9;
  width: 480px;
  height: 360px;
}
